@import 'scss/index.scss';

.Toastify {
  .Toastify__toast-container--top-center {
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;

    .Toastify__toast--success {
      background-color: $background-primary;

      .Toastify__close-button {
        align-self: center;
      }
    }

    .Toastify__toast--error {
      .Toastify__close-button {
        align-self: center;
      }
    }
  }
}
