@import 'scss/index.scss';

form.album-form {
  .fields {
    margin: 0 !important;

    .album-avatar {
      position: relative;
      background-color: $background-grey-light;
      height: 200px;
      width: 100%;
      padding: 0 !important;

      img {
        height: 100%;
        margin: 0 auto;
      }

      .avatar {
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
      }
    }
  }
}
