@import 'scss/index.scss';

.ui.table.inverted.list-songs {
  background-color: transparent;

  th {
    background-color: transparent;
  }

  tr {
    &:hover {
      cursor: pointer;
      td {
        color: $primary-color;
      }
    }
  }
}
