@import './scss/index.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.form {
  .field {
    .input {
      input {
        background: $background-grey-light;
        font-size: 16px;
        color: $font-light;
        border: 0;

        &:hover,
        &:active,
        &:focus {
          background-color: $background-grey-light-hover;
          color: $font-light;
          border: 0;
        }
      }

      i {
        color: $font-light;
      }
      &.error {
        input {
          border-bottom: 1px solid $danger;
        }
      }
    }

    .error-text {
      color: $font-light;
      padding-left: 15px;
    }
  }

  .ui.button {
    width: 100%;
    margin-top: 20px;
    background-color: $primary-color;
    color: $font-light;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    &:hover {
      background-color: $primary-color-hover;
    }
  }

  .ui.dropdown {
    background-color: $background-grey-light;
    font-size: 16px;
    color: $font-light;
    border: 0;

    .search {
      color: $font-light;
    }

    .menu {
      background-color: $background-grey-light;
      border: 0;

      .item {
        border-color: $border-light-dark;
        color: $font-light;
      }
    }
  }
}

form {
  .field {
    margin-bottom: 15px;
    .input {
      width: 100%;

      input {
        background: $background-grey-light;
        font-size: 16px;
        color: $font-light;
        border: 0;

        &:hover,
        &:active,
        &:focus {
          background-color: $background-grey-light-hover;
          color: $font-light;
          border: 0;
        }
      }

      i {
        color: $font-light;
        font-size: 19px;
      }

      &.error {
        input {
          border-bottom: 1px solid $danger;
          background: $background-grey-light;
        }
      }
    }

    .ui.dropdown {
      background-color: $background-grey-light;
      font-size: 16px;
      color: $font-light;
      border: 0;

      &.error{
        background: $background-grey-light;
        border-bottom: 1px solid $danger;
      }
  
      .search {
        color: $font-light;
      }
  
      .menu {
        background-color: $background-grey-light;
        border: 0;
  
        .item {
          border-color: $border-light-dark;
          color: $font-light;
        }
      }
    }
  }

  .ui.button {
    width: 100%;
    background-color: $primary-color;
    color: $font-light;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 50px;
    padding: 17px 0;
    font-size: 14px;
    letter-spacing: 3px;
  }

  .error-text {
    color: $font-light;
    padding-top: 5px;
    padding-left: 15px;
  }
}
